@model CRM.Models.CRMUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signin</title>
    <style>
        #txtsignin {
            padding: 10px 20px;
            background-color: royalblue;
            color: white;
            font-weight: bold;
            border: none;
            box-shadow: 0px 0px 4px 5px grey;
            border-radius: 10px;
            margin-left: 50px
        }
    </style>
</head>
<body>
    @Html.Partial("_Navbar")
    <h1 style="text-align:center;color:crimson;">Signin</h1>
    <div style="display:flex;justify-content:center;align-items:center"> 
       
        @using (Html.BeginForm("Signin", "Account"))
        {


            <label>Name</label>
         @Html.TextBoxFor(u=>u.Name)<br/><br/>
            <label>E-mail</label>
         @Html.TextBoxFor(u=>u.email)<br/><br/>
            <label>Password</label>
           @Html.TextBoxFor(u=>u.Password)<br/><br/>
            <label>Confirm password</label>
            <input type="text" name="txtcpassword"><br/><br/>
            <p>I have register <a href="/Account/Login" style="color:blue">Login</a></p>
            <input type="submit" value="signin" id="txtsignin">
        }


    </div>
    @Html.Partial("_Footer")

</body>
</html>
