@model IEnumerable<CRM.Models.CRMCustomer>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/AppIndex.css" rel="stylesheet"/>
</head>
<body>
    @Html.Partial("_AppNavBar")
    <div> 
      <p>Welcome, @Session["Name"]</p>
        


        <div style="display:flex;align-items:center;justify-content:center">
             <a href="/App/NewCustomer" id="newbtn">Add new</a>
        </div>
        <div style="display:flex;align-items:center;justify-content:space-around;margin-top:30px">
            <div id="card1">
                <h4>Total Customers</h4>
            </div>
            <div id="card2">
                <h4>Total Lead</h4>

            </div>
            <div id="card3">
                <h4>Total Sale</h4>
            </div>
        </div>
        <h2 style="text-align:center;color:crimson;margin-bottom:20px;margin-top:20px;">Your Customers</h2>
        <div id="CustomerTable">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                <tbody>
                    @foreach (var customer in Model)
                    {


                        <tr>
                            <td>@Html.DisplayFor(c => customer.ID)</td>
                            <td>@Html.DisplayFor(c => customer.Name)</td>
                            <td>@Html.DisplayFor(c => customer.email)</td>
                            <td>@Html.DisplayFor(c => customer.mobile)</td>
                            <td>@Html.ActionLink("view", "customerDetails", new { ID = customer.ID });</td>
                        </tr>

                  
                    }
                </tbody>
                
            </table>

        </div>
    </div>

</body>
</html>
